<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task_list.description %>
</p>

<strong>Tasks:</strong>
<ul>
	<% list = TaskList.find(params[:id]) %>
	<% list.tasks.each do |task| %>
		<li><%= task.title %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
