<!DOCTYPE html>
<html>
<head>
  <title>TodoStarter</title>
  
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header" id="header"></div>

	<div id="primary">
		<% if flash[:message] %>
		<p class="flash­message"><%= flash[:message] %></p>
		<% end %>
	</div>

	<div class="sidebar" id="sidebar">
		<ul>
			<% @all_task_lists.each do |list_item| %>
				<li><a href="/task_lists/<%=list_item.id%>"> <%= list_item.name %> </a></li>
			<% end %>
		</ul>
		<% if session[:user_id] %>
			<%= link_to 'Logout', logout_path %>
		<% else %>
			<%= link_to 'Login', login_path %>
		<% end %>
	</div>

<%= yield %>

<div class="footer" id="footer"></div>

</body>
</html>